<div class="full-post-options">
  <ul>
    <li><a href="#posts/<%= post.get('id') %>/edit">Edit</a></li>
    <li><a href="javascript:void(0)" onclick='alert("No deleting!")'>Delete</a></li>
  </ul>
</div>
<div class="full-post-body">
  <%= post.escape('body') %>
</div>
<div class="full-post-items">
  <div class="post-tags">
    <ul>
      <% post.tags().each(function(tag){ %>
      <li class="tag-name" data-id="<%= tag.get('id') %>"><%= tag.escape('name') %></li>
      <% }); %>
    </ul>
  </div>
  <a href="#/map"><%= post.location().escape("address") %><a>
</div>
<img class="full-post-photo" src="<%= post.escape("picture_url") %>" style="display: none">
